.da-input {
    display: block;
    min-width: 90%;
    margin: 1em;
    padding: 1em;
    width: 35em;
    border-radius: 8px;
    border-style: none;
    border: 1px solid #e4e6e8;
    transition: 0.1s ease;
    color: white;
    outline: none;
}
