/* body.active-modal {
    overflow-y: hidden;
} */

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal,
.overlay {
    width: 100vw;
    height: 100vh;
    right:-9px;
    top:-35vh;
    position: fixed;
    cursor: default;
}

.overlay {
    background: rgba(49, 49, 49, 0.8);
}
.modal{
    display: flex;
        align-items: center;
        justify-content: center;
}

.modal-content {
    /* position: absolute; */
    /* display: flex;
    align-items: center;
    justify-items: center; */
    /* top: 40%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    line-height: 1.4;
    /* background: #f1f1f1; */
    padding: 14px 28px;
    border-radius: 3px;

    width: 700px;
    height: 500px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    position: relative;
}
.modal-content7 {
    /* position: absolute; */
    /* display: flex;
    align-items: center;
    justify-items: center; */
    /* top: 40%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    line-height: 1.4;
    /* background: #f1f1f1; */
    padding: 14px 28px;
    border-radius: 3px;

    /* width: 500px; */
    height: 400px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    position: relative;
}
.sefds {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}