

.sidebar-blur {
background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}